html {
    font-size: 22px;
}
body{
    background-color: #632a2a;
    color: whitesmoke;
}
a{
    color: aliceblue;
}
a:visited {
    color: lightgray;
}
a:hover, a:active{
    color: #f700ff;
}
table, tr, th, td, caption {
    border: 1px solid #d0ff00;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}
